name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
    
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: gem_template_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    
    strategy:
      fail-fast: false
      matrix:
        ruby-version: ['3.3']
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Ruby ${{ matrix.ruby-version }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
      env:
        BUNDLE_GITHUB__COM: x-access-token:${{ secrets.BOWERBIRD_ORG_CI_TOKEN }}
    
    - name: Install dummy app dependencies
      run: bundle install
      working-directory: test/dummy
      env:
        BUNDLE_GITHUB__COM: x-access-token:${{ secrets.BOWERBIRD_ORG_CI_TOKEN }}
        DATABASE_URL: postgres://postgres:postgres@localhost:5432/gem_template_test
    
    - name: Run database migrations
      run: bundle exec rake db:migrate RAILS_ENV=test
      working-directory: test/dummy
      env:
        DATABASE_URL: postgres://postgres:postgres@localhost:5432/gem_template_test

    - name: Run RuboCop
      run: bundle exec rubocop

    - name: Run tests
      run: bundle exec rake app:test
      env:
        DATABASE_URL: postgres://postgres:postgres@localhost:5432/gem_template_test
